
# copy into containers using: for i in docker_deb-amd64 docker_deb-arm64v8 docker_me docker_rpm docker_tar-amd64 docker_tar-arm64v8; do cp requirements.txt containers/$i; done
psutil >= 5.9
pyyaml
pexpect
requests
click
semver
selenium >= 4.0.0
beautifultable
tabulate
markdown
allure_python_commons==2.9.45
certifi
mss
distro
dataclasses
statsd
wexpect; platform_system == "Windows"
py7zr
