# copy into containers using: for i in docker_deb docker_me docker_rpm docker_tar; do cp requirements.txt containers/$i; done
psutil >= 5.9
pyyaml
pexpect
requests
click
semver
selenium
beautifultable
tabulate
markdown
allure_python_commons
certifi
mss
distro
dataclasses
statsd
